body {
	overflow-x: hidden;
	overflow-y: scroll;
}
.navigation {
	width: 100%;
	padding: .5em;
	position: fixed;
	top: 0;
	background-color: #FFFFFF;
	z-index: 10;
	box-shadow: 1px 1px 2px 2px #d8d8d8;
}
.navigation .logo {
	float: left;
	padding-top: 4px;
}
.navigation .menu {
	float: right;
}
.navigation .small-menu {
	display: none;
}
.navigation .big-menu {
	display: block;
}
.content-divider {
	width: 100%;
	margin-bottom: -1px;
}
.content-section-1 {
	padding: 6em 0em;
	min-height: 50vh;
}
.content-section-1 .title {
	font-size: 5em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-1 .text {
	font-size: 1.5em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-1 .text a {
	color: #21AD09;
	cursor: pointer;
}
.content-section-2 {
	background-color: #21AD09;
	color: #FFFFFF;
	padding-bottom: 6em;
}
.content-section-2 .title, .content-section-3 .title {
	font-size: 3em;
	font-weight: bold;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-2 .text, .content-section-3 .text {
	font-size: 2em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-2 .text .industries {
	margin-top: 1em;
	font-size: .75em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-3 {
	padding: 4em 0em;
}
.content-section-3 .title {
	font-size: 3em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-3 .text {
	font-size: 2em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.content-section-3 .text a {
	color: #21AD09;
	cursor: pointer;
}
.footer {
	text-align: center;
	padding: 2em 0em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.footer a {
	color: #404040;
}

@media only screen and (max-device-width: 768px) {
	.content-section-1 .title, .content-section-2 .title, .content-section-3 .title {
		font-size: 3em;
	}
	.content-section-1 .text, .content-section-2 .text, .content-section-3 .text {
		font-size: 1em;
	}
	.content-section-1, .content-section-2, .content-section-3 {
		padding-left: 1em;
		padding-right: 1em;
	}
	.content-section-2 .text .industries-header {
		font-size: 3em;
	}
	.content-section-2 .text .industries {
		font-size: 1em;
	}
	.navigation .small-menu {
		display: block;
	}
	.navigation .big-menu {
		display: none;
	}
}